<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @doctor.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @doctor.apellido %>
</p>

<p>
  <b>Correo:</b>
  <%= @doctor.correo %>
</p>

<p>
  <b>Estado:</b>
  <%= @doctor.Estado %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
