<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prospectu.Name %>
</p>

<p>
  <b>Email:</b>
  <%= @prospectu.Email %>
</p>

<p>
  <b>Address:</b>
  <%= @prospectu.Address %>
</p>

<p>
  <b>Photo:</b>
  <%= @prospectu.Photo %>
</p>

<p>
  <b>Phone:</b>
  <%= @prospectu.Phone %>
</p>

<p>
  <b>Mobilephone:</b>
  <%= @prospectu.Mobilephone %>
</p>


<%= link_to 'Edit', edit_prospectu_path(@prospectu) %> |
<%= link_to 'Back', prospectus_path %>
