<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div id='cuerpo'>
   <div id='stylized' class='myform'>
   <span class='small'>
   <%= f.label :species %><br />
   </span>
   <%= f.text_field :species %>
   
     
   <span class='small'>
   <%= f.label :race %>
   </span>
   <%= f.text_field :race %>
   
   
  <span class='small'>
  <%= f.label :gender %>
  </span>
  <%= f.text_field :gender %>
  
    
  
  <span class='small'>
    <%= f.label :bloodtype %><br />
  </span>
  <%= f.text_field :bloodtype %>
  
  
  
  <span class='small'>
    <%= f.label :sterilized %><br />
  </span>
    <%= f.text_field :sterilized %>
 
  <span class='small'>
    <%= f.label :size %><br />
  </span>
    <%= f.text_field :size %>
  
  <span class='small'>
    <%= f.label :activity %><br />
  </span>
    <%= f.text_field :activity %>
  
  <span class='small'>
    <%= f.label :weight %><br />
  </span>
  <%= f.text_field :weight %>
  
  <span class='small'>
  <%= f.label :birthday %><br />
  </span>
  <%= f.date_select :birthday %>
  
  <span class='small'>
  <%= f.label :owner %><br />
  </span>
  <%= f.collection_select :owner_id, Owner.all, :id, :name, :prompt => true %><br />
  
  <div class="actions">
    <%= f.submit %></div>
  


<% end %>
</div>
</div>