<h1>Listing howners</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @howners.each do |howner| %>
  <tr>
    <td><%= howner.comment %></td>
    <td><%= howner.owner %></td>
    <td><%= link_to 'Show', howner %></td>
    <td><%= link_to 'Edit', edit_howner_path(howner) %></td>
    <td><%= link_to 'Destroy', howner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Howner', new_howner_path %>
