<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @howner.comment %>
</p>

<p>
  <b>Owner:</b>
  <%= @howner.owner %>
</p>


<%= link_to 'Edit', edit_howner_path(@howner) %> |
<%= link_to 'Back', howners_path %>
