<%= form_for(@doctor_cliente) do |f| %>
  <% if @doctor_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_cliente.errors.count, "error") %> prohibited this doctor_cliente from being saved:</h2>

      <ul>
      <% @doctor_cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nota_cliente %><br />
    <%= f.text_area :nota_cliente %>
  </div>
  <div class="field">
    <%= f.label :fecha_doctorcliente %><br />
    <%= f.date_select :fecha_doctorcliente %>
  </div>
  <div class="field">
    <%= f.label :Cliente %><br />
    <%= f.text_field :Cliente %>
  </div>
  <div class="field">
    <%= f.label :Doctor %><br />
    <%= f.text_field :Doctor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
