<%= form_for(@date_vaccine) do |f| %>
  <% if @date_vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_vaccine.errors.count, "error") %> prohibited this date_vaccine from being saved:</h2>

      <ul>
      <% @date_vaccine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :registration_date %><br />
    <%= f.date_select :registration_date %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
	<%= f.collection_select :owner_id, Owner.all, :id, :name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
