<h1>Listing doctor_pacientes</h1>

<table>
  <tr>
    <th>Nota paciente</th>
    <th>Fecha doctorpaciente</th>
    <th>Condiciones</th>
    <th>Cliente</th>
    <th>Doctor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctor_pacientes.each do |doctor_paciente| %>
  <tr>
    <td><%= doctor_paciente.nota_paciente %></td>
    <td><%= doctor_paciente.fecha_doctorpaciente %></td>
    <td><%= doctor_paciente.condiciones %></td>
    <td><%= doctor_paciente.Cliente %></td>
    <td><%= doctor_paciente.Doctor %></td>
    <td><%= link_to 'Show', doctor_paciente %></td>
    <td><%= link_to 'Edit', edit_doctor_paciente_path(doctor_paciente) %></td>
    <td><%= link_to 'Destroy', doctor_paciente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctor paciente', new_doctor_paciente_path %>
